@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  user-select: none;
  justify-content: center;
  align-items: center;
  background: #0c1a1a;
}
/*nav bar*/
nav {
  height: 70px;
  width: 101%;
  background: #6acfc7;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
  z-index: 100;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #6acfc7;
  transition: .5s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #0c1a1a;
}

nav ul ul {
  position: absolute;
  top: 85px;
  border-top: 3px solid #0c1a1a;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

nav ul li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}

nav ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid #042331;
  border-top: none;
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul {
  border-top: none;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}

nav ul ul li a i {
  margin-left: 45px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
  padding-top: 102px;
}

/*logo*/
.logo {
  position: absolute;
  margin: 100px;
  margin-top: 80px;
  margin-top: 0;
  margin-left: 30px;
}

.logo img {
  height: 60px;
  padding-top: 10px;
  width: 225px;
}

/*product page*/
.product-page-content {
  margin-top: 10px;
  height: 100%;
}

.product-header {
  padding-top: 20px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.product-form-element {
  padding-bottom: 20px;
}

.product-form-element label {
  padding-right: 10px;
}

.products {
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: center;
}

.product {
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  border: 1px gray solid;
  height: 100%;
  box-shadow: 0 8px 32px 0 var(--black);
  border-radius: 30px;
}

.product img {
  border-radius: 25px;
  width: 200px;
  padding-bottom: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name,
.product-price {
  padding-bottom: 10px;
}

.fa-shopping-cart {
  padding-right: 10px;
}

.disabled-cursor {
  cursor: not-allowed;
}

.btn-disabled {
  pointer-events: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: gray;
  color: white;
  border: 2px solid gray;
  transition: all 0.4s ease;
}

.addtocart-wrapper {
  width: 100%;
}

.product button {
  width: 100%;
}

.fa-shopping-cart {
  pointer-events: none;
}

/*Cart section styling*/
.cart-column {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-top: 10px;
  padding: 0 50px 10px 50px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 60%;
  padding-left: 10px;
}

.cart-price {
  width: 20%;
}

.cart-quantity {
  width: 20%;
}

.cart-item-title {
  margin-left: 0px;
  font-size: 17px;
}

.cart-header {
  padding-left: 10px;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}

.btn-danger {
  cursor: pointer;
  color: white;
  padding: 10px 13px;
  background-color: #ff0000;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  transition: 0.4s ease;
}

.btn-danger:hover {
  background-color: #7c0000;
}

.fa-trash {
  pointer-events: none;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid white;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 25px;
  margin-right: 20px;
}

.cart-total-price {
  font-size: 20px;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 20px;
}

.invisible {
  display: none;
}

/*INVOICE STYLING*/

.invoice-container {
  margin: 10px;
  padding: 40px;
  backdrop-filter: blur(10px);
  border: 1px gray solid;
  height: 100%;
  box-shadow: 0 8px 32px 0 var(--black);
  border-radius: 30px;
}

.customer-details h6 {
  font-size: 35px;
  padding-bottom: 20px;
}

.customer-details p {
  font-size: 16px;
  padding-bottom: 10px;
}

.invoice-details h6 {
  font-size: 35px;
  padding: 20px 0px 20px 0px;
}

.product-details-invoice p {
  font-size: 15px;
  padding-bottom: 10px;
}

.product-details-invoice p:last-child {
  padding-bottom: 0;
}

.product-details-wrapper {
  border: 1px solid;
  padding: 10px 15px 7px 15px;
  flex-direction: row;
  border-radius: 20px;
}

.invoice-row {
  padding-bottom: 10px;
}

.product-details-invoice {
  width: 75%;
}

.product-image-invoice {
  width: 25%;
}

.product-image-invoice img {
  width: 75px;
  border-radius: 15px;
}

.invoice-total {
  padding-top: 20px;
  font-size: 27px;
  text-align: center;
}

.fa-pen {
  padding-right: 10px;
  pointer-events: none;
}

.btn-edit {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer-distributed {
  background: #272323;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 35%;
  padding-top: 90px;
}


/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 25%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cart2 {
  display: flex;
  justify-content: space-between;
}

.dis {
  position: absolute;
  margin-top: -9%;
  background-color: #959595;
  margin-left: 47%;
  border: solid 5px #7cb9cc;
  border-radius: 10px;
  /* width: 250px; */
  /* height: 200px; */
}

.bg-whit {
  background-color: #959595;
  border: solid 5px #7cb9cc;
  border-radius: 10px;
  margin-left: -30%;
}

.setmar {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fn-s {
  font-size: 18px;
  margin-right: 20px;
}

.fn-s2 {
  font-size: 18px;
  margin-right: 102px;
}
.fn-s3 {
  font-size: 20px;
  margin-right: 83px;
}
.c-b{
color: black;
}
.c-r{
  color: red;
}
.border_up{
  border-top: 3px solid black;
}








/* Bootstrap use */

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.33333333%;
  }

  .offset-sm-2 {
    margin-left: 16.66666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333333%;
  }

  .offset-sm-5 {
    margin-left: 41.66666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333333%;
  }

  .offset-sm-8 {
    margin-left: 66.66666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333333%;
  }

  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

::-webkit-scrollbar {
  display: none;
}